services:
  app:
    build: .
    container_name: nailspro_app
    networks:
      - app-network
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      # --- API ---
      - JWT_SECRET=${JWT_SECRET}
      - APP_HTTP_PROTOCOL=http
      # --- SENTRY & OBSERVABILITY ---
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
      - SENTRY_RELEASE=${SENTRY_RELEASE_VERSION}
      - SENTRY_AUTO_INIT=true

      - OTEL_METRICS_EXPORTER=none
      - OTEL_LOGS_EXPORTER=none

      - LOG_LEVEL=${LOG_LEVEL}

      # --- DATABASE CONNECTION ---
      - DB_URL=jdbc:postgresql://db:5432/${POSTGRES_DB_APP}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}

      # --- EMAIL (RESEND) ---
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${RESEND_API_KEY}

      # --- INTEGRATIONS & SECURITY ---
      - DOMAIN_URL=${DOMAIN_URL}
      - INTERNAL_API_KEY=${INTERNAL_API_KEY}

      # --- FLYWAY ---
      - SPRING_FLYWAY_ENABLED=true
      - SPRING_FLYWAY_URL=jdbc:postgresql://db:5432/${POSTGRES_DB_APP}
      - SPRING_FLYWAY_USER=${POSTGRES_USER}
      - SPRING_FLYWAY_PASSWORD=${POSTGRES_PASSWORD}

      # --- EVO ---
      - EVO_URL=http://evolution:8080
      - EVO_API_KEY=${EVO_API_KEY}
      - EVO_WEBHOOK_URL=http://app:8080/api/v1/webhook
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: postgres_nailspro
    networks:
      - app-network
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_APP}
    ports:
      - "5432:5432"
    volumes:
      - postgres_volume:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  evolution:
    image: evoapicloud/evolution-api:v2.3.7
    container_name: evolution_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      - AUTHENTICATION_API_KEY=${EVO_API_KEY}
      - AUTHENTICATION_TYPE=apikey

      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB_EVO}
      - DATABASE_SAVE_DATA_INSTANCE=true

      - CACHE_REDIS_ENABLED=false
      - SERVER_URL=http://evolution:8080
      - LOG_LEVEL=error

    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_volume: