services:
  app:
    build: .
    networks:
      - app-network
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USER=${MAIL_USER}
      - MAIL_PASSWORD=${RESEND_API_KEY}
      - DOMAIN_URL=${DOMAIN_URL}
      - INTERNAL_API_KEY=${INTERNAL_API_KEY}
      - EVO_URL=http://evolution:8080
      - EVO_API_KEY=${EVO_API_KEY}
      - EVO_WEBHOOK_URL=http://app:8080/api/v1/webhook
      - LOG_LEVEL=${LOG_LEVEL}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    container_name: postgres-gh
    networks:
      - app-network
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - nailspro_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  evolution:
    container_name: evolution_api
    image: evoapicloud/evolution-api:v2.3.7
    restart: always
    ports:
      - "8081:8080"
    environment:
      - AUTHENTICATION_API_KEY=${EVO_API_KEY}
      - AUTHENTICATION_TYPE=apikey
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=sqlite
      - DATABASE_CONNECTION_URI=file:/evolution/data/database.sqlite
      - DATABASE_SAVE_DATA_INSTANCE=true
      - CACHE_REDIS_ENABLED=false
      - GENERATE_SWAGGER=false
      - SWAGGER_ENABLED=false
      - LOG_LEVEL=error
      - SERVER_URL=http://evolution:8080
      - CONFIG_SESSION_PHONE_CLIENT=Chrome
      - CONFIG_SESSION_PHONE_NAME=Chrome
      - CONFIG_SESSION_PHONE_VERSION=2.3000.1033775652
      - NODE_OPTIONS=--dns-result-order=ipv4first
    networks:
      - app-network
    volumes:
      - evolution_data:/evolution/data

networks:
  app-network:
    driver: bridge

volumes:
  evolution_data:
  nailspro_db: