
services:
  app:
    build: .
    networks:
      - app-network
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:postgresql://host.docker.internal:5432/nailspro
    extra_hosts:
      - "host.docker.internal:host-gateway"

  evolution:
    container_name: evolution_api
    image: atendai/evolution-api:v2.2.3
    restart: always
    ports:
      - "8081:8080"
    environment:
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://evolution_user:123@evolution-db:5432/evolution?schema=public
      - DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
      - CACHE_REDIS_ENABLED=false
      - AUTHENTICATION_API_KEY=mude-me
      - GENERATE_SWAGGER=true
      - CONFIG_SESSION_PHONE_CLIENT=Evolution
      - OPERAÇÃO_SWAGGER=true
      - SWAGGER_ENABLED=true
      - SERVER_URL=http://localhost:8081
      - CONFIG_SESSION_PHONE_VERSION=2.3000.1031221906
      - SERVER_URL=http://localhost:8081
      - NODE_OPTIONS=--dns-result-order=ipv4first
    networks:
      - app-network
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1

  evolution-db:
    container_name: evolution_db
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=evolution_user
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=evolution
    networks:
      - app-network
    volumes:
      - evolution_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "evolution_user", "-d", "evolution"]
      interval: 10s
      timeout: 5s
      retries: 8

networks:
  app-network:
    driver: bridge
volumes:
  evolution_pgdata: