services:
  app:
    build: .
    networks:
      - app-network
    env_file:
      - .env.example
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:postgresql://db:5432/nailspro_db
      - DB_USER=postgres
      - DB_PASSWORD=123
      - MAIL_HOST=localhost
      - MAIL_PORT=25
      - MAIL_USER=resend
      - MAIL_PASSWORD=${RESEND_API_KEY}
      - DOMAIN_URL=https://todecide.com
      - INTERNAL_API_KEY=np_test_931246127461
      - EVO_URL=http://evolution:8080
      - EVO_API_KEY=random_key
      - EVO_WEBHOOK_URL=http://app:8080/api/v1/webhook
      - LOG_LEVEL=INFO
      - JOBRUNR_SERVER=true
      - JOBRUNR_DASHBOARD=true
      - JOBRUNR_PORT=8000
    depends_on:
      db:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M

  db:
    image: postgres:15-alpine
    container_name: postgres-gh
    networks:
      - app-network
    environment:
      - POSTGRES_DB=nailspro_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
    ports:
      - "5432:5432"
    volumes:
      - nailspro_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "nailspro_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 256M

  evolution:
    container_name: evolution_api
    image: evoapicloud/evolution-api:v2.3.7
    restart: always
    ports:
      - "8081:8080"
    environment:
      - AUTHENTICATION_API_KEY=random_key
      - AUTHENTICATION_TYPE=apikey
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=sqlite
      - DATABASE_CONNECTION_URI=file:/evolution/data/database.sqlite
      - DATABASE_SAVE_DATA_INSTANCE=true
      - CACHE_REDIS_ENABLED=false
      - GENERATE_SWAGGER=false
      - SWAGGER_ENABLED=false
      - LOG_LEVEL=error
      - SERVER_URL=http://evolution:8080
      - CONFIG_SESSION_PHONE_CLIENT=Chrome
      - CONFIG_SESSION_PHONE_NAME=Chrome
      - CONFIG_SESSION_PHONE_VERSION=2.3000.1033775652 #TODO: feature a way to update the version, not manually
      - NODE_OPTIONS=--dns-result-order=ipv4first
    networks:
      - app-network
    volumes:
      - evolution_data:/evolution/data
    deploy:
      resources:
        limits:
          memory: 512M

networks:
  app-network:
    driver: bridge

volumes:
  evolution_data:
  nailspro_db: